<!doctype html>
<html ng-app="crud">
  <head>
  <meta charset="UTF-8">
    <title>Lista Telefonica</title>
    <script src="angular/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
      <style type="text/css">
      .geral {
        width: 400px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
      }

   li {
      	list-style: none;
      }
      </style>
  </head>
  <body ng-controller="controllerCrud">
     <div class="geral">
        <table class="table">
         <tr>
            <td>Nome</td>
            <td>Telefone</td>
            <td>Ação</td>
         </tr>
         <tr ng-repeat="contato in contatos">
           <td>{{contato.nome}}</td>
           <td>{{contato.telefone}}</td>
           <td><button class="btn btn-danger" ng-click="remove($index)">Excluir</button></td>
           <td><button class="btn btn-warning" ng-click="editar(contato)">Editar</button></td>
         </tr>
       </table>
        <hr/>
        	<div ng-show="!current.nome">
	        <input class="form-control" type="text" ng-model="contato.nome"></input>
	         <input class="form-control" type="text" ng-model="contato.telefone"></input>
	         <button class="btn btn-primary" ng-click="adicionarContato(contato)" ng-disabled="!contato.nome || !contato.telefone">Adicionar Contato</button>
	        </div>
	         <div ng-show="current.nome">
	         <h3>Editar</h3>
	         <li><input class="form-control" type="text" id="fname" ng-model="current.nome" ng-show="current.nome" value="{{current.nome}}"></input></li>
	         <li><input class="form-control" type="text" id="fname" ng-model="current.telefone" ng-show="current.telefone" value="{{current.telefone}}"></input></li>
	         <button class="btn btn-success" ne-click="salvar(contato)">Salvar</button>
	         </div>
	         
      </div>
  </body>
</html>

<script>
    angular.module("crud", []);
    angular.module("crud").controller("controllerCrud", function ($scope) {
       
       $scope.contatos = [
          {nome: "Gustavo", telefone: "99887766"},
          {nome: "Amanda", telefone: "99887766"}
       ];

       $scope.adicionarContato = function (contato){
          $scope.contatos.push(angular.copy(contato));
          delete $scope.contato;
       };

       $scope.remove = function(index) {
       		$scope.contatos.splice(index, 1);

       };

       $scope.editar = function(contato){
       		$scope.current = contato;

       };

       $scope.salvar = function(current){
       	$scope.current = {};
       	delete $scope.current;
       };

       $scope.current = {};

    });
</script>

